* {
    background-color: rgb(32, 32, 32);
    font-family:'Courier New', Courier, monospace, serif;
}

.Title.Main {
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: rgb(20, 20, 20)
}

.List.Main {
    text-align: center;
    color: white;
    font-size: 30px;
}

a {
    color: white;
}