* {
    background-color: rgb(31, 48, 94);
    font-family:'Courier New', Courier, monospace, serif;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.Title.Main {
    font-size: 40px;
    text-align: center;
}

img {
    height: auto;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.Title {
  font-size: 25px;
}

strong {
    font-weight: bold;
    display: block;
    margin: 10px;
    
}

li {
    margin-top: 2%;
    margin: 30px;
}
ol ul {
    list-style: none;
}

ol ul li {
    margin-top: 20px;
}

.Inner_step {
    width: 320px;
    margin-left: -60px;
}

ol h3 {
    width: 300px;
    text-align: center;
}

ol {
    margin-left: -8%;
}

